/* note: these colors are from defined.nvim */
@font-face {
	font-family: 'icfs';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('icfs-regular.woff2') format('woff2');
}

body {
  color: #eeeeff;
  background-color: #222226;
  font-family: icfs,monospace;
  font-size: 20px;
}

#search-bar {
  border: none;
  color: #eeeeff;
  margin-left: 4px;
  background-color: #444448;
  font-family: icfs,monospace;
  font-size: 16px;
}

#search-bar::placeholder {
  opacity: 1;
  color: #888892;
  font-family: icfs,monospace;
  font-size: 16px;
}

#search-bar:focus {
  outline: none;
  box-shadow: 4px 4px #333337;
}

.el {
  font-family: icfs,monospace;
  font-size: 16px;
  outline: none;
  color: #eeeeff;
  background-color: #444448;
}
