/* note: these colors are from defined.nvim */
@font-face {
	font-family: 'icfs';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('icfs-regular.woff2') format('woff2');
}

body {
  color: #eeeeff;
  background-color: #222226;
  font-family: icfs,monospace;
}
