/* note: these colors are from defined.nvim */
@font-face {
  font-family: 'icfs';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('icfs-regular.woff2') format('woff2');
}

#header {
    font-size: 26px;
    margin-bottom: 5px;
    margin-right: 5px;
}

body {
  color: #eeeeff;
  background-color: #222226;
  font-family: icfs,monospace;
  font-size: 20px;
}

table {
  font-family: icfs,monospace;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  color: #eeeeff;
  background-color: #333337;
  width: 100%;
}

th, td {
  border: none;
}

td:nth-child(2) {
  width: 4vw;
}

td:nth-child(3) {
  width: 90vw;
}

td:nth-child(4) {
  width: 6vw;
}

tr:hover {
  background-color: #5265b9
}

.tooltip {
  visibility: hidden;
  width: 70px;
  background-color: #111116;
  color: #eeeeff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -26px;  
  position: absolute;
  z-index: 1;
}

a, a:hover, a:visited, a:active {
  color: #eeeeff;
  background-color: #222226;
  text-decoration: none;
}

#search-bar {
  border: none;
  color: #eeeeff;
  margin-left: 2px;
  background-color: #444448;
  font-family: icfs,monospace;
  font-size: 16px;
}

#search-bar::placeholder {
  opacity: 1;
  color: #888892;
  font-family: icfs,monospace;
  font-size: 16px;
}

#search-bar:focus {
  outline: none;
  box-shadow: 4px 4px #333337;
}

