name: Black Format

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
    - name: Black Format
      run: |
        black --line-length=88 .
    - name: Format files
      uses: stefanzweifel/git-auto-commit-action@v4.12.0
      with:
        # Commit message
        commit_message: Format files with black
       
